{% extends 'movie_app/base.html' %}
{% load static %}
{% block title %}Информация о режиссере {{ director.first_name }} {{ director.last_name }}{% endblock %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'app_for_tests/css/table.css' %}"> {% endblock %}

{% block content %}
    <h2>Информация о режиссере </h2>
    <h2>Имя: {{ director.first_name }}</h2>
    <h2>Фамилия: {{ director.last_name }}</h2>
    <h2>Email: {{ director.email }}</h2>
    <hr>
    <h2>Список фильмов</h2>
    <ul>
        {% for movie in director.movies.all %}
            <li><a href="{{ movie.get_url }}">{{ movie }}</a> </li>
        {% endfor %}
    </ul>
{% endblock %}