{% extends 'movie_app/base.html' %}
{% load static %}
{% block title %}Информация о фильме {{ movie.name }}{% endblock %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'app_for_tests/css/table.css' %}"> {% endblock %}

{% block content %}
    <h2>Информация о фильме </h2>
    <h3>Название: {{ movie.name }}</h3>
    <h3>Год: {{ movie.year|default:"-" }}</h3>
    <h3>Рейтинг: {{ movie.rating }}</h3>
    <h3>Бюджет: {{ movie.budget }}</h3>
    <hr>
    <h2>Режиссер:</h2>
    <h3><a href="{% url 'director' movie.director.id|default:0 %}">{{ movie.director|default:'-' }}</a></h3>
{#    <h3>Имя: {{ movie.director.first_name }}</h3>#}
{#    <h3>Фамилия: {{ movie.director.last_name }}</h3>#}
{#    <h3>Email: {{ movie.director.email }}</h3>#}
    <hr>
    <h2>Актерский состав</h2>
    <ul>
        {% for actor in movie.actors.all %}
            <li><a href="{% url 'actor' pk=actor.id%}">{{ actor }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}