{% extends 'movie_app/base.html' %}
{% load static %}
{% block title %}Фильмы{% endblock %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'app_for_tests/css/table.css' %}"> {% endblock %}

{% block content %}
    <h2>Список всех фильмов</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Год</th>
                <th>Рейтинг</th>
                <th>Бюджет</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td><a href="{{ movie.get_url }}">{{ movie.name }}</a></td>
                <td>{{ movie.year|default:"-" }}</td>
                <td>{{ movie.rating }}</td>
                <td>{{ movie.budget }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add-movie' %}">+Добавить фильм</a>
{% endblock %}