<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список дел</title>
</head>
<body>
    <h1>Добро пожаловать в приложение «Список дел»</h1>
    <br>
    <ol>
        <li><a href="monday">Понедельник</a>
        <li><a href="tuesday">Вторник</a>
        <li><a href="wednesday">Среда</a>
        <li><a href="thursday">Четверг</a>
        <li><a href="friday">Пятница</a>
        <li><a href="saturday">Суббота</a>
        <li><a href="sunday">Воскресенье</a>
    </ol>
    <br>
    <a href="/">home</a>
    <br>
    <a href="../..">back</a>
</body>
</html>