{% extends 'feedback/base.html' %}
{% block title %}
    Отзыв
{% endblock %}

{% block content %}
    <h2>{% if upd %}Изменить отзыв{% else %}Оставьте отзыв{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-style {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor %}
        <button>
            {% if upd %}
                Изменить
            {% else %}
                Отправить
            {% endif %}
        </button>
        <button type="button" onclick="history.back()">Отмена</button>
    </form>
{% endblock %}