<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отзывы</title>
    <link rel="stylesheet" href="{% static 'feedback/css/forms.css' %}">
</head>
<body>
    <h2>Оставьте отзыв</h2>
    {% if got_error == True %}
        <p>Поле имя не может быть пустым!</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-style {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor %}
        <button>Отправить</button>
    </form>
</body>
</html>